@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'MyFont';
  src: url('./fonts/jeopardy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --red: #B32826;
  --black: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body {
  background-color: black;
}

.jeopardy {
  font-family: 'MyFont';
}
