#nappi {
  box-sizing: content-box;
  width: 100vw;
  height: 100vh;
  background-color: red;
  appearance: none;
  outline: none;
  border: none;
  font-size: 100px;
  color: white;
}

#nappi:disabled {
  background-color: darkgray;
}

#nappi.vuorossa {
  background-color: green !important;
}
